## Krotki (Tuples)

In [3]:
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [4]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
my_tuple.remove(3)
print(my_tuple)

AttributeError: 'tuple' object has no attribute 'remove'

In [33]:
type(my_tuple)

tuple

In [5]:
my_tuple[0]

1

In [6]:
my_tuple[1:3]

(2, 3)

In [7]:
my_tuple.count(3) #count() method returns the number of times the specified element appears in the tuple

1

In [8]:
del(my_tuple)
print(my_tuple)

NameError: name 'my_tuple' is not defined

In [9]:
my_tuple = ('car1', 'car2', 'car3', 'car4', 'car5', 'car6', 'car7')

In [10]:
my_list = ('Skoda', 'Volvo', 'Volswagen', 'Fiat', 'Opel', 'Honda', 'Toyota')

In [11]:
car_park = dict(list(zip(my_tuple, my_list))) #tworzyny słownik

In [12]:
car_park

{'car1': 'Skoda',
 'car2': 'Volvo',
 'car3': 'Volswagen',
 'car4': 'Fiat',
 'car5': 'Opel',
 'car6': 'Honda',
 'car7': 'Toyota'}

## Zbiory (Sets)

In [19]:
set() # funkcja pozwala tworzyć zbiór

TypeError: 'set' object is not callable

In [20]:
my_set = {1, 2, 3}
type(my_set)

set

In [13]:
my_list = [1 , 2, 3, 4, 5, 10, 6, 7, 8, 9, 10]
unique = set(my_list) #pozbycie się duplikatów za pomocą funkcji set()
print(unique)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [21]:
clean_list = list(unique)
print(clean_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
my_set = {1, 2, 3}
my_set.add(4)
my_set

{1, 2, 3, 4}

In [23]:
my_set.remove(2)
my_set

{1, 3, 4}

In [24]:
2 in my_set

False

In [25]:
3 in my_set

True

In [27]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set2 = {8, 10, 12, 14, 16, 18, 20}
set1.intersection(set2) #przecięcie zbiorów

{8, 10}

In [28]:
set3 = set1.union(set2) #połączenie zbiorów
set3

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 14, 16, 18, 20}

In [29]:
set1.difference(set2) #różnica zbiorów

{1, 2, 3, 4, 5, 6, 7, 9}

In [30]:
set1.symmetric_difference(set2) #symetryczna różnica zbiorów

{1, 2, 3, 4, 5, 6, 7, 9, 12, 14, 16, 18, 20}

In [31]:
set4 = frozenset(set1) #niezmienny zbiór

In [32]:
set4.remove(2)

AttributeError: 'frozenset' object has no attribute 'remove'