# Uporządkowanie

In [1]:
my_list=[6,7,3,8,1]

In [2]:
if my_list[0]>my_list[1]:
    my_list[0],my_list[1]=my_list[1],my_list[0]
print(my_list)

[6, 7, 3, 8, 1]

In [3]:
if my_list[1]>my_list[2]:
    my_list[1],my_list[2]=my_list[2],my_list[1]
print(my_list)

[6, 3, 7, 8, 1]

In [4]:
my_list=[6,7,3,8,1]
for i in range(len(my_list)-1):
    print (f"porównujemy {my_list[i]} a {my_list[i+1]}")
    if my_list[i]>my_list[i+1]:
        my_list[i],my_list[i+1]=my_list[i+1],my_list[i]
    print(my_list)

porównujemy 6 a 7
[6, 7, 3, 8, 1]
porównujemy 7 a 3
[6, 3, 7, 8, 1]
porównujemy 7 a 8
[6, 3, 7, 8, 1]
porównujemy 8 a 1
[6, 3, 7, 1, 8]

In [5]:
my_list=[6,7,3,8,1]
for run in range (len(my_list)-1):
    for i in range(len(my_list)-1-run):
        print (f"porównujemy {my_list[i]} a {my_list[i+1]}")
        if my_list[i]>my_list[i+1]:
            my_list[i],my_list[i+1]=my_list[i+1],my_list[i]
    print(my_list)

porównujemy 6 a 7
porównujemy 7 a 3
porównujemy 7 a 8
porównujemy 8 a 1
[6, 3, 7, 1, 8]
porównujemy 6 a 3
porównujemy 6 a 7
porównujemy 7 a 1
[3, 6, 1, 7, 8]
porównujemy 3 a 6
porównujemy 6 a 1
[3, 1, 6, 7, 8]
porównujemy 3 a 1
[1, 3, 6, 7, 8]

In [6]:
def bubble_sort(my_list):
    for run in range (len(my_list)-1):
        for i in range(len(my_list)-1-run):
            #print (f"porównujemy {my_list[i]} a {my_list[i+1]}")
            if my_list[i]>my_list[i+1]:
                my_list[i],my_list[i+1]=my_list[i+1],my_list[i]
    return my_list

In [7]:
my_list=[1,6,8,3,2,57,76,35,0]
bubble_sort(my_list)

[0, 1, 2, 3, 6, 8, 35, 57, 76]

In [12]:
my_list=[1,6,8,3,2,57,76,35,0]
my_list.sort() #funkcja wbudowana
my_list

[0, 1, 2, 3, 6, 8, 35, 57, 76]

In [13]:
my_list=[1,6,8,3,2,57,76,35,0]
sorted(my_list) #funkcja wbudowana

[0, 1, 2, 3, 6, 8, 35, 57, 76]

In [14]:
my_list

[1, 6, 8, 3, 2, 57, 76, 35, 0]

In [15]:
string='Ważne studia'
sorted(string)

[' ', 'W', 'a', 'a', 'd', 'e', 'i', 'n', 's', 't', 'u', 'ż']

In [16]:
fsb_dict={'name':'J. Kowalski','income':13626718.98,'wife_income':261956.95}
sorted(fsb_dict)

['income', 'name', 'wife_income']

In [17]:
my_list=[1,6,8,3,2,57,76,35,0]
sorted(my_list,reverse=True)

[76, 57, 35, 8, 6, 3, 2, 1, 0]

In [18]:
string='Ważne studia'
sorted(string,key=str.lower)

[' ', 'a', 'a', 'd', 'e', 'i', 'n', 's', 't', 'u', 'W', 'ż']

In [21]:
fsb_list=[['Kowalski J.',13626718.98,261956.95],['Zieliński P.',11882496.91,593918.65],['Wisłocki M.',6795228.14,861350.27]]

In [22]:
sorted(fsb_list)

[['Kowalski J.', 13626718.98, 261956.95],
 ['Wisłocki M.', 6795228.14, 861350.27],
 ['Zieliński P.', 11882496.91, 593918.65]]

In [23]:
def fsb_income(i):
    return i[1]

In [24]:
sorted(fsb_list,key=fsb_income)

[['Wisłocki M.', 6795228.14, 861350.27],
 ['Zieliński P.', 11882496.91, 593918.65],
 ['Kowalski J.', 13626718.98, 261956.95]]

In [25]:
fsb=[{'name':'Kowalski J.','income':13626718.98,'wife_income':261956.95},
     {'name':'Zieliński P.','income':11882496.91,'wife_income':593918.65},
     {'name':'Kowalski J.','income':6795228.14,'wife_income':861350.27},
     {'name':'Lewandowski R.','income':7406264.90,'wife_income':315794.75},
     {'name':'Wisłocki M.','income':5912584.62,'wife_income':393095.22}]

In [26]:
def fsb_wife_income(i):
    return i.get('wife_income')

In [27]:
sorted(fsb,key=fsb_wife_income)

[{'name': 'Kowalski J.', 'income': 13626718.98, 'wife_income': 261956.95},
 {'name': 'Lewandowski R.', 'income': 7406264.9, 'wife_income': 315794.75},
 {'name': 'Wisłocki M.', 'income': 5912584.62, 'wife_income': 393095.22},
 {'name': 'Zieliński P.', 'income': 11882496.91, 'wife_income': 593918.65},
 {'name': 'Kowalski J.', 'income': 6795228.14, 'wife_income': 861350.27}]